---
import BaseLayout from "../../layouts/BaseLayout.astro";
import ProjectCard from "../../components/ProjectCard.astro";
import { getCollection } from "astro:content";

const projects = (await getCollection("projects"))
  .filter((p) => !p.data.draft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout title="Projects" description="My projects">
  <section>
    <h1>Projects</h1>
    {projects.length > 0 ? (
      projects.map((project) => (
        <ProjectCard
          title={project.data.title}
          description={project.data.description}
          tags={project.data.tags}
          url={project.data.url}
          slug={project.id}
        />
      ))
    ) : (
      <p>No projects yet.</p>
    )}
  </section>
</BaseLayout>
